@import 'tailwindcss'; 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-aquamarine: #7FFFD4; 
  --color-steelblue1: #63B8FF;
  --color-slateblue4: #473C8B;
  --color-royalblue3: #3A5FCD;
  --color-dodgerblue: #1E90FF; 
  --color-mediumblue: #0000CD;
  --color-marineblau: #000080;
  --color-gray76: #C2C2C2;
  --color-gray70: #B3B3B3;
  --color-royalblue2: #436EEE;
  --color-bg-light: color-mix(in srgb, var(--color-aquamarine) 70%, var(--color-steelblue1) 30%);
  --color-bg-dark: color-mix(in srgb, var(--color-slateblue4) 70%, var(--color-royalblue3) 30%);
  --font-sans: 'Roboto', sans-serif;
}